
img {
  width: 600px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* transform */
  /* transform: rotate(360deg); */
  /* transform: rotateX(180deg); */
  /* transform: rotateY(120deg); */
  /* transform: rotateZ(180deg); */
  /* transform: scale(3); */
  /* transform: scaleY(2); */
  /* transform: translate(10%,500px); */

  transition: transform 5s ease-in-out, border 2s, width 3s ease-in-out;

}

img:hover {
  /* transform: rotate(180deg) scale(2); */
  border: 10px solid red;
  width: 800px;
}