* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  font-size: 2rem;
}

header,
footer,
aside,
main {
  background-color: lightpink;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.parent {
  min-height: inherit;

  display: grid;

  grid-template-areas:
    "header header"
    "aside main"
    "aside footer";

    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px 1fr 100px;

    gap: 10px;

}

header {
  background-color: red;
  grid-area: header;
}

aside {
  background-color: yellow;
  grid-area: aside;
}

main {
  background-color: blue;
  grid-area: main;
}

footer {
  background-color: purple;
  grid-area: footer;
}


@media screen and (max-width: 768px) {

  .parent {
    grid-template-areas: 
      "header"
      "main"
      "aside"
      "footer"
    ;

    grid-template-columns: 1fr;
  }
  
}