* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: red;
}

nav {
  background-color: green;
}

.menu {
  display: none;
}

.nav-list {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 10%;

  & > li {
    list-style: none;
  }
}

.nav-list > li:not(.home-tab) {
 & > a {
  font-size: 2rem;
 }
}
.home-tab > a {
  font-size: 5rem;
  color: yellow
}


/* 

min-width
max-width 99%

min-height
max-height


*/



/* @media screen and (min-width:800px) and (max-width:1200px) {
  body {
    background-color: purple;
  }
} */



/* @media screen and (orientation: landscape) {
  body{ 
    background-color: aqua;
  }
}

@media screen and  (orientation: portrait) {
  body {
    background-color: brown;
  }
} */

@media screen and (max-width: 650px) {
  .nav-list {
    justify-content: center;
  }
}

@media screen and (max-width: 360px) {
  .nav-list {
    display: none;
  }

  .menu {
    display: block;
  }
}


/* 
@media screen and (min-width: 800px) {
  body {
    background-color: blue;
  }
}
 */
